<header>
  <button mat-flat-button (click)="selectAirline()">Add Flight</button>
</header>

<main>
  <mat-nav-list>
    <mat-list-item *ngFor="let flight of flights$ | async">
      <img mat-list-avatar [src]="(flight.airlineId | getAirline | async)?.logo">
      <a matLine [routerLink]="['/turnaround', flight.id]">
        {{flight.info.arrivalNumber}} / {{flight.info.departureNumber}}
        <div>
          sta: {{flight.info.sta}} / std: {{flight.info.std}}
        </div>
      </a>
      <a mat-icon-button [routerLink]="['/info',flight.iata, flight.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button (click)="remove(flight.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</main>


<footer>
  <h3>History of the day : </h3>

  <mat-nav-list>
    <mat-list-item *ngFor="let done of dones$ | async">
      <a [routerLink]="['/turnaround', done.id]"> {{done.info.arrivalNumber}} /
        {{done.info.departureNumber}}</a>
    </mat-list-item>
  </mat-nav-list>

</footer>